*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
:root{
            --font-sub:20px;
            --font-num:28px;
            --mob-font:16px;
        }

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    height: 100vh;
    padding: 30px 10px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.203);
}


.logo{
    padding-bottom: 15px;
    width: 60px;
}


.top-nav,.bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.home-part{
    padding: 20px;
    padding-left: 100px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.top-icons{
    display: flex;
    gap: 30px;
    padding-right: 30px;
    align-items: center;
}

.search-bar{
    width: 300px;
    font-size: 20px;
    height: 50px;
    border-radius:30px;
    padding-left: 30px;
}

#date{
    padding-top: 0px;
    font-size: 18px;
    color: #2424248a;
}

.bell-icon, .toggle{
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell-icon img{
    width: 20px;
}


.toggle img{
    width: 20px;
}

/* plan main */
.plan-main{
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(255, 155, 24, 0.237);
    margin-left: 100px;
    margin-right: 30px;
}

.plana{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.planahead{
    font-size: 26px;
    font-weight: 700;
}

.planabut{
    padding: 2px 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: rgb(183, 105, 2);
    color: white;
    border-radius: 6px;
}

.planb{
    width: 100%;
}

.planb table{
    width: 100%;
}

.planb table td{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.planb table th{
    text-align: left;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.planb table{
    border: 1px solid gray;
    padding: 30px 30px;
    border-radius: 12px;
}

/* pop main start */

.pop-main{
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px gray;
    padding: 30px;
    border-radius:12px ;
}

.pophead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.pophead p{
    font-size: 26px;
}

.pophead button{
    background-color: transparent;
    border: none;
}

.popup{
    width:100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.pop-main form{
    display: flex;
    flex-direction: column;
}

.pop-main form input{
    margin-bottom: 10px;
    padding: 10px 20px;
}

.pop-main form select{
    margin-bottom: 10px;
}

.pop-main form button{
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(183, 105, 2);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray;
}
/* no sidebar for desktop view */

.mob-sidebar{
    display: none;
}

/* Mobile Responsive starts */

@media screen and (min-width:320PX) and (max-width:768px){
    
    /* desktop side bar display none */
    .sidebar,.search-bar{
        display: none;
    }
    .home-part{
        padding:20px;
    }
    .top-icons{
        padding-right: 0px;
        gap: 15px;
    }
    .greet{
        font-size: 12px;
    }
    #date{
        font-size: 15px;
    }
    /* mobile side bar */
    
    .mob-sidebar{
        display: flex;
        flex-direction:column ;
        width: 50%;  
        height: 100vh; 
        position: fixed;
        top: 0; 
        left: -1000px;
        background-color: black;  
        backdrop-filter:blur(10px);

    }
    .close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            background: transparent;
            border: none;
            color: white;
            font-size: 22px;
            cursor: pointer;
        }
    .mob-sidebar ul{
        padding: 0px 5px;
        padding-top: 50px;
   
        

    }
    .mob-sidebar ul li{
            list-style: none;
            padding-bottom:20px;
            }
    .mob-sidebar ul li a{
        display: flex;
        align-items: center;
         text-decoration: none;
         gap: 5px; 
        font-size: 16px;
        color:white;
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 16px;
}
.mob-sidebar{
        transition: left 0.5s;
        transition-timing-function: ease;
    }
    .img1 a{
         background-color: grey;
        border-radius: 5px;
    }
}

/* plan main */
.plan-main{
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(255, 155, 24, 0.237);
    margin-left: 100px;
    margin-right: 30px;
}

.plana{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.planahead{
    font-size: 26px;
    font-weight: 700;
}

.planabut{
    padding: 2px 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: rgb(183, 105, 2);
    color: white;
    border-radius: 6px;
}

.planb{
    width: 100%;
}

.planb table{
    width: 100%;
}

.planb table td{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.planb table th{
    text-align: left;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.planb table{
    border: 1px solid gray;
    padding: 30px 30px;
    border-radius: 12px;
}

/* pop main start */

.pop-main{
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px gray;
    padding: 30px;
    border-radius:12px ;
}

.pophead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.pophead p{
    font-size: 26px;
}

.pophead button{
    background-color: transparent;
    border: none;
}

.popup{
    width:100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.pop-main form{
    display: flex;
    flex-direction: column;
}

.pop-main form input{
    margin-bottom: 10px;
    padding: 10px 20px;
}

.pop-main form select{
    margin-bottom: 10px;
}

.pop-main form button{
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(183, 105, 2);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray;
}



/* Home-Section */



/* Card */

.card-icon{
    width: 25px;
    height: 20px;
    margin-right: 10px;
}


#header2{
    background-color: #2a5557;
}

.card-name{
    font-size: 18px;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
        padding-bottom: 15px;

}

.num-icon > strong{
    font-size: var(--font-num);

}

.num-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-icon img{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.card-header{
    border-radius: 8px;
    padding: 12px;
    text-align: end;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid rgb(0, 0, 0);
    background-color: #2a5557;
    color: white;
    
}


.home-section{
    padding: 30px;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 30px;
}

.home-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0px;
    justify-content: center;
}

.nav-text {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.nav-item{
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.nav-item:hover .nav-text {
    opacity: 1;
    transform: translateX(0);
}



.card-header > h4{
    font-size: var(--font-sub);
    padding-bottom: 10px;
}



.to-do-container h4{
    font-size: var(--font-sub);
     border-radius: 5px;
}

.to-do-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:"comp complete chat inactive" ;
    gap: 20px;
    text-align: center;
    
}


.complete{
    grid-area: comp;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

.completed{
    grid-area: complete;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

.chats{
    grid-area: chat;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}


.inactive{
    grid-area: inactive;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

.complete h4,.completed h4,.chats h4,.inactive h4{
    background-color: #2a5557;
    color: white;
    padding: 10px 0px;
}


.nav-text {
    display: none;
}

.complete ol,.completed ol{
    padding: 20px;
}

.complete ol li{
    margin-top: 10px;
    list-style: none;
}

.completed ol li{
    margin-top: 10px;
}



.task-list li {
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
}

.task-list li:last-child {
  border-bottom: none;
}

label {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.check{
    accent-color: #129112; 
    transform: scale(1.2); 
}

.chats-container {
  background-color: #e5e5e5;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.chat {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.chat:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.msg-time{
    font-size: 12px;
    color: gray;
}

.person-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;

}

.person-name {
  flex: 1;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.notifi-num {
  min-width: 22px;
  height: 22px;
  padding: 0 6px;
  background: #137c3a;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width:900px){



    .home-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}



.to-do-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "comp complete "
        "chat inactive"
       ;
    gap: 20px;
    text-align: center;
}



.complete{
    grid-area: comp;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;
}

.completed{
    grid-area: complete;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

.chats{
    grid-area: chat;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}


.inactive{
    grid-area: inactive;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

}

@media (max-width:600px){


    .nav-menu {
    display: none;
}

.nav-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}


.top-nav,
.bottom-nav {
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.top-nav .clicked{
    background-color: rgb(179, 177, 177);
    border-radius: 10px;
}



.nav-menu.open {
    display: flex;
}

    .home-cards-container{
    display: grid;
    grid-template-columns: repeat(2,minmax(120px,1fr)) ;
    gap: 10px;

}



.complete{
    grid-area: comp;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;
}

.completed{
    grid-area: complete;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

.chats{
    grid-area: chat;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}



.inactive{
    grid-area: inactive;
    border: 1px solid black;
    border-radius:8px;
    padding:15px;

}

.search-bar{
    display: none;
   
}

.home-section{
    padding: 10px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}


.nav-text {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-text.show {
    display: inline-block;
    opacity: 1;
    margin-left: 10px;
 
}


.home-part{
    padding: 20px;
}

.greet h1{
    font-size: 16px;
}

/* Homepart */


.card-header > h4{
    font-size: var(--mob-font);
    padding-bottom: 10px;
}

.card-header > strong{
    font-size: var(--mob-font);
}

.to-do-container h4{
    font-size: var(--mob-font);
   
}


.to-do-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "comp"
        "complete"
        "chat"
        "inactive "
       ;
    gap: 20px;
    text-align: center;

    
}
}
@media (max-width:450px){
    .card-name{
    font-size: 18px;
}

#header5{
    grid-column-start: 1;
    grid-column-end: 3;
}

}
